.btn-primary {
    background: $primary;

    &:hover {
        background: $secondary;
        color: $black;
    }
}

.btn-secondary {
    background: $white;
    color: black;

    &:hover {
        background: $primary;
        color: white;
    }
}

.nav-link{
    text-align: center;
    &:hover {
        background: $primary-end;
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}