body {
    background: linear-gradient(to right top, #ffffff,#c5c4c4);
}

main {
    flex: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
